<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Layout</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="seat-container">
        <h2>Seat Layout</h2>
    </div>
    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <input type="checkbox" onClick="this.checked=!this.checked;">
            <h3>Avaible</h3>
        </li>
        <li>
            <div class="seat occupied"></div>
            <h3>X&ensp;</h3>
            <h3> Occupied</h3>
        </li>
        <li>
            <div class="seat selected"></div>
            <input type="checkbox" name="selected" value="seat" checked>
            <h3>Selected</h3>
        </li>
    </ul>

    <div class="container">
        <div class="screen">
            <img class="steering" src="/lib/images/steering-wheel.png">
        </div>

        <div class="row">
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">1A</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="2A">
                <label for="2A">2A</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="3A">
                <label for="3A">3A</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="4A">
                <label for="4A">4A</label>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">1B</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="2B">
                <label for="2B">2B</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="3B">
                <label for="3B">3B</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="4B">
                <label for="4B">4B</label>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <input type="checkbox" id="1C">
                <label for="1C">1C</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="2C">
                <label for="2C">2C</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="3C">
                <label for="3C">3C</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="4C">
                <label for="4C">4C</label>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <input type="checkbox" id="1D">
                <label for="1D">1D</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="2D">
                <label for="1A">2D</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">3D</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">4D</label>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">1E</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">2E</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">3E</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">4E</label>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">1F</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">2F</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">3F</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">4F</label>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">1F</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">2F</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">3F</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">4F</label>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">1G</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">2G</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">3G</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">4G</label>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">1H</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">2H</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">3H</label>
            </div>
            <div class="seat">
                <input type="checkbox" id="1A">
                <label for="1A">4H</label>
            </div>
        </div>
    </div>

    <div class="containe">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div>
        <input type="submit" value="Next" asp-action="Book" asp-controller="User" class="btn btn-primary" />
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!--<p class="text">You have selected <span id="count">0</span>
        seats for a price of $<span id="total">0</span>
    </p>-->

    <script src="script.js"></script>
</body>
</html>