@model Busreservation.Models.Search

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/Userconsole.cshtml";
}
@section head{
    <style>
        h3 {
            text-align: center;
            color: #3c3484;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        body {
            background: radial-gradient(circle at 110% 60%, #3c3484, #ffffff);
        }
    </style>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.7.2/jquery-ui.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet"
          type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
}
<h3>Search Buses</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DisplayBus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Source" class="control-label" style="color:#3c3484; font-size:22px"></label>
                <input asp-for="Source" class="form-control" required />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label" style="color:#3c3484; font-size:22px"></label>
                <input asp-for="Destination" class="form-control" required />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfJourney" class="control-label" style="color:#3c3484; font-size:22px">Date Of Journey</label>
                <input id="datepicker" class="form-control" data-val="true" type="date" min="2021-11-20" asp-for="DateOfJourney" required />
                <span asp-validation-for="DateOfJourney" class="text-danger"></span>
                @*<script language="javascript">
                        var today = new Date().toISOString().split('T')[0];
                        document.getElementsByName("datepicker")[0].setAttribute('min', today)
                    </script>*@
                <script language="javascript">
                    $(document).ready(function () {
                        $("#datepicker").datepicker({
                            minDate: 0
                        });
                    });
                </script>
            </div>
            <div class="form-group">
                <label asp-for="TotalSeats" class="control-label" style="color:#3c3484; font-size:22px"></label>
                <select asp-for="TotalSeats" class="form-control">
                    <option value="1">1</option>v 1
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="TotalSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" asp-action="DisplayBus" asp-controller="Passenger" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>