@model Busreservation.Models.Driver

@{
    ViewData["Title"] = "CreateDriver";
    Layout = "~/Views/Shared/Dashbordlayout.cshtml";
}

<h1>CreateDriver</h1>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDriver">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DriverId" class="control-label"></label>
                <input asp-for="DriverId" class="form-control" />
                <span asp-validation-for="DriverId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverName" class="control-label"></label>
                <input asp-for="DriverName" class="form-control" />
                <span asp-validation-for="DriverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverAge" class="control-label"></label>
                <input asp-for="DriverAge" class="form-control" />
                <span asp-validation-for="DriverAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverGender" class="control-label"></label>
                <input asp-for="DriverGender" class="form-control" />
                <span asp-validation-for="DriverGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <button asp-action="Driver" class="btn btn-primary">Go back</button>
            </div>
        </form>
    </div>
</div>


