@import 
url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color :white;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-image:url(/lib/images/bus_gif);
    background-repeat: no-repeat;
}

.seat-container{
    margin-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
    background: linear-gradient(270deg, #3c3484, #7e3bb3, #e074b4, #ee9ca7);
    border-radius: 8px;
}

/*.seat-container select{
    background-color:yellow;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}*/

.container{
    perspective: 1000px;
    margin-bottom: 30px;
    border-style: double;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    border-color: blueviolet;
}
.empty{
    margin-bottom: 30px;
}
input:hover{
    cursor: pointer;
    padding: 2px;
}
.row{
    color: black;
}

.seat{
    /*background-color:#444451;*/
    height: 40px;
    width: 25px;
    margin: 3px;
    border-style:hidden;

}

/*.seat.selected{
    /*background-color: #6feaf6;
}

.seat.occupied{
    /*background-color: #fff;
    
}*/

.seat:nth-of-type(2){
    margin-right: 18px;
}

.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}

.showcase{
    background: linear-gradient(135deg, #3c3484, #413589, #523797, #713aab, #9f3ec4, #cd51d0, #da66be, #e37ab0, #e98ba9, #ed97a7, #ee9ca7);
    padding: 5px 10px;
    border-radius: 8px;
    color:aliceblue;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small{
    margin-left: 2px;
}

.row{
    display: flex;
}

.screen{
    /*background-color:;*/
    height: 70px;
    width: 100%;
    margin: 0px 8px 0px 2px;

    /*box-shadow: 0 3px 10px rgba(255,255,255,0.7)*/
}
.steering{
    height: 50px;
}

p.text{
    margin: 5px 0;
}

p.text span{
    color: #6feaf6;
}
