@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Contact Us</h1>
<br />
<br />
<h3>Address</h3>
<address>
    Address: International Tech Park,<br />
    No 7 & 8 1st Floor, <br />
    Pinnacle Building, CSIR Rd,<br />
    Tharamani, Chennai,<br />
    Tamil Nadu 600113.<br />
    Phone: 1800-342-343
</address>
<h5>for Queries please write to us </h5> <a href="mailto:customercare@wizzbus.com" style="font-size:x-large">customercare@wizzbus.com</a>
<br />
<h5>Or</h5><a href="tel:1234-567-891" style="font-size:x-large">Call 1234-567-891</a>