@model Busreservation.Models.TransactDetail

@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/Userconsole.cshtml";
}
@section head{
    <style type="text/css">
        body {
            background: radial-gradient(circle at 110% 60%, #3c3484, #ffffff);
        }
    </style>
}

<h3 style="color:#3c3484; text-align:center">Payment</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Payment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label" style="color:#3c3484; font-size:22px">User Mail</label>
                <input asp-for="UserId" class="form-control" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactTime" class="control-label" style="color:#3c3484; font-size:22px"></label>
                <input type="datetime-local" asp-for="TransactTime" class="form-control" />
                <span asp-validation-for="TransactTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentOption" class="control-label" style="color:#3c3484; font-size:22px"></label>
                <input type="text" asp-for="PaymentOption" value="DebitorCredit Card" class="form-control" readonly />
                <span asp-validation-for="PaymentOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paymentstatus" class="control-label" style="color:#3c3484; font-size:22px">Enter your Card number</label>
                <input type="text" asp-for="Paymentstatus" class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX" required maxlength="16" pattern="\d{16}" />
                <span asp-validation-for="Paymentstatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" style="color:#3c3484; font-size:22px">CVV</label>
                <input type="password" class="form-control" placeholder="XXX" maxlength="3" pattern="\d{3}" />
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label" style="color:#3c3484; font-size:22px"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-primary" onclick="alertfunction()" />
            </div>
            @Html.HiddenFor(model => model.PnrNo)
        </form>
    </div>
</div>
<script>
    function alertfunction() {
        alert("Payment Successful You can find your Booking in My Bookings")
    }
</script>


