@model Busreservation.Models.UserDetail

@{
    ViewData["Title"] = "Register"; }

@section head{
    <style type="text/css">
        h1 {
            text-align: center;
            color: #3c3484;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>    
}
    <body style="background: radial-gradient(circle at 110% 60%, #3c3484, #ffffff); ">
        <h1>Register</h1>
        <hr />
        <div class="regis">
            <div class="col-md-4">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label" style="color:#3c3484; font-size:22px">User ID</label>
                        <input asp-for="UserId" class="form-control" />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label" style="color:#3c3484; font-size:22px">User Name</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserPass" class="control-label" style="color:#3c3484; font-size:22px">Password</label>
                        <input type="password" asp-for="UserPass" class="form-control" />
                        <span asp-validation-for="UserPass" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserDoB" class="control-label" style="color:#3c3484; font-size:22px">Date Of Birth</label>
                        <input asp-for="UserDoB" class="form-control" type="date" />
                        <span asp-validation-for="UserDoB" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserMail" class="control-label" style="color:#3c3484; font-size:22px">Email</label>
                        <input asp-for="UserMail" class="form-control" />
                        <span asp-validation-for="UserMail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserPhn" class="control-label" style="color:#3c3484; font-size:22px">Phone</label>
                        <input asp-for="UserPhn" class="form-control" maxlength="10"/>
                        <span asp-validation-for="UserPhn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </body>

    @*<div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@
