@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h1 style="text-align: center; color: #3c3484; background: #2193b0; background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); background: linear-gradient(to right, #6dd5ed, #2193b0); padding: 10px ">Welcome to Wizz Bus Bus Booking made simple</h1>*@
<img src="~/lib/images/wizzbuz.png" style="width:90%; height:40em"/>





